language: go
dist: bionic
services:
  - docker
go:
  - 1.13.5
before_install:
  - bash lint.sh
  - sudo apt-get install rsync -y
  # Do not shallow clone k/k. For building kind node image, git history is needed.
  - git clone --branch $K8S_REPO_VERSION https://github.com/kubernetes/kubernetes $GOPATH/src/k8s.io/kubernetes
  - bash setup_cluster.sh
  - bash install_storage.sh

# Skip downloading deps.
install: true

jobs:
  include:
    - name: "k8s master"
      env:
        - K8S_VERSION=v1.17.0
        - KIND_VERSION=0.6.1
        - KIND_NODE_IMAGE_REPO=storageos/kind-node
        - KIND_GIT_REPO=github.com/storageos/kind
        - KIND_GIT_REPO_BRANCH=kind-15-dec-19
        - KIND_NODE=latest
        - K8S_REPO_VERSION=master
      script:
        - bash test.sh
    - name: "k8s 1.17"
      env:
        - K8S_VERSION=v1.17.0
        - KIND_VERSION=0.6.1
        - KIND_NODE_IMAGE_REPO=storageos/kind-node
        - KIND_GIT_REPO=github.com/storageos/kind
        - KIND_GIT_REPO_BRANCH=kind-15-dec-19
        - KIND_NODE=latest
        - K8S_REPO_VERSION=release-1.17
      script:
        - bash test.sh
    - name: "k8s 1.16"
      env:
        - K8S_VERSION=v1.16.4
        - KIND_VERSION=0.6.1
        - KIND_NODE_IMAGE_REPO=storageos/kind-node
        - KIND_GIT_REPO=github.com/storageos/kind
        - KIND_GIT_REPO_BRANCH=kind-15-dec-19
        - KIND_NODE=latest
        - K8S_REPO_VERSION=release-1.16
      script:
        - bash test.sh
    - name: "k8s 1.15"
      env:
        - K8S_VERSION=v1.15.7
        - KIND_VERSION=0.6.1
        - KIND_NODE_IMAGE_REPO=storageos/kind-node
        - KIND_GIT_REPO=github.com/storageos/kind
        - KIND_GIT_REPO_BRANCH=kind-15-dec-19
        - KIND_NODE=latest
        - K8S_REPO_VERSION=release-1.15
      script:
        - bash test.sh
